#app {
    height: 100vh;
    width: 100%;
}

.container {
    background-color: greenyellow;
}
.encabezado {
    background-color: gray;
    padding: 1%;
}
.cuerpo {
    flex: 1;
    overflow: hidden;    
    background-color: red;
    padding: 1%;
}
.nuevaCompra {
    background-color: lightblue;
    overflow-y: auto;
    padding: 1%;
}
.FormAltaCompra{
    background-color: brown;
    padding: 1%;
}
.FormAltadetalleCompra{
    background-color: gray;
    padding: 1%;
}
.elegirCompra {
    background-color: orange;
    overflow-y: auto;
    flex: 1; 
    padding: 1%;
}
.seleccionDeCompra {
    background-color: aqua;
    padding: 1%;
}
.compraSeleccionada{
    background-color: violet;
    padding: 1%;
}
.pie {
    background-color: gray;
    padding-bottom: 1%;
    padding-left: 1%;
}



th {
    text-align: center;
}

button {
    margin: 0.2%;
}