<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Las Violetas</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="icon" type="image/png" href="./img/logo.png">
</head>

<body>
    <div class="main" id="app">

        <div class="titulo">
            <h1>Las Violetas</h1>
        </div>

        <div class="panel">
            <button v-bind:class="{ 'fondo': verProveedores }" class="botonVioleta" @click="mostrarOcultarProveedores"><span></span><span></span><span></span><span></span> {{ verProveedores ? 'Ocultar Proveedores' : 'Proveedores' }}</button>
            <button v-bind:class="{ 'fondo': verProductos }" class="botonVioleta" @click="mostrarOcultarProductos"><span></span><span></span><span></span><span></span>{{verProductos ? 'Ocultar Productos' : 'Productos'}}</button>
            <button v-bind:class="{ 'fondo': verStock }" class="botonVioleta" @click="mostrarOcultarStock"><span></span><span></span><span></span><span></span>{{verStock ? 'Ocultar Stock' : 'Stock'}} </button>
            <button v-bind:class="{ 'fondo': verImportes }" class="botonVioleta" @click="mostrarOcultarImportes"><span></span><span></span><span></span><span></span>{{verImportes ? 'Ocultar Importes' : 'Importes'}}</button>
            <button class="botonVioleta" onclick="window.open('https://gacalsergio.pythonanywhere.com/', '_blank')"><span></span><span></span><span></span><span></span>Servidor Local</button>
            <button class="botonVioleta" onclick="window.open('menu.html', '_blank')"><span></span><span></span><span></span><span></span>Menú</button>
            
            <!-- <button class="botonVioleta" onclick="window.open('celular.html', '_blank')"><span></span><span></span><span></span><span></span>Celular</button> -->
            <!-- <button class="botonVioleta" onclick="window.open('comprar.html', '_blank')"><span></span><span></span><span></span><span></span>Comprar</button> -->
            <!-- <button class="botonVioleta" onclick="window.open('gastos.html', '_blank')"><span></span><span></span><span></span><span></span>Gastos</button> -->
            <!-- <button class="botonVioleta" onclick="window.open('balanza.html', '_blank')"><span></span><span></span><span></span><span></span>Balanza</button> -->

        </div>

        <div class="proveedores" v-if="verProveedores">
            <h2>Proveedores</h2>
            <button v-bind:class="{ 'fondo': listaProveedores }"  @click="mostrarOcultarListaProveedores">
                {{listaProveedores ? 'Ocultar Listado' : 'Mostrar Listado'}} </button>
            <button v-bind:class="{ 'fondo': altaProveedores }"  @click="mostrarOcultarAltaProveedores">
                {{altaProveedores ? 'Cancelar Alta' : 'Nuevo Proveedor' }} </button>
            <button v-bind:class="{ 'fondo': listaTipoProveedor }"  @click="mostrarOcultarlistaTipoProveedor">
                {{listaTipoProveedor ? 'Ocultar Listado Tipo de Proveedores': 'Mostrar Tipos de Proveedores'}}</button>
            <button v-bind:class="{ 'fondo': altaTipoProveedor }"  @click="mostrarOcultarAltaTipoProveedor"> {{altaTipoProveedor ? 'Cancelar Alta tipo de Proveedor':
                'Alta Tipo Proveedor'}} </button>

            <div class="listadoProveedores" v-if="listaProveedores">
                <h2>Listado de Proveedores</h2>
                <table v-if="proveedores.length > 0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Razón Social</th>
                            <th>Cuit</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Contacto</th>
                            <th>e-mail</th>
                            <th>Web</th>
                            <th>Clasificación</th>
                            <th>Observaciones</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="proveedor in proveedores" :key="proveedor.idProveedor">
                            <td> {{proveedor.idProveedor}} </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    {{proveedor.nombreProveedor}}
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.nombreProveedor">
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    {{proveedor.razonSocial}}
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.razonSocial">
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    {{proveedor.cuit}}
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.cuit">
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    {{proveedor.direccion}}
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.direccion">
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    {{proveedor.telefono}}
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.telefono">
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    {{proveedor.contacto}}
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.contacto">
                                </template>
                            </td>
                            <td><template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    <a v-if="proveedor.mail" :href="'mailto:' + proveedor.mail" target="_blank"><img
                                            class="imagen3x3" src="./img/mail.png" alt="correo"></a>
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.mail">
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    <a v-if="proveedor.web" :href="'https://' + proveedor.web" target="_blank"><img
                                            class="imagen3x3" src="./img/web.png" alt="web"></a>
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.web">
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    {{ proveedor.tipoProveedor }}
                                </template>
                                <template v-else>
                                    <select v-model="proveedor.tipoProveedor">
                                        <option v-for="tipo in tipoProveedor" :key="tipo" :value="tipo">{{ tipo }}
                                        </option>
                                    </select>
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    {{proveedor.observacion}}
                                </template>
                                <template v-else>
                                    <input v-model="proveedor.observacion">
                                </template>
                            </td>
                            <td>
                                <template v-if="!proveedorModificable[proveedor.idProveedor]">
                                    <button style="background-color: blue;" class="botonVioleta2"
                                        @click="editarProveedor(proveedor.idProveedor)">Editar</button>
                                </template>
                                <template v-else>
                                    <button style="background-color: green;" class="botonVioleta2"
                                        @click="confirmarEdicionProveedor(proveedor)">Confirmar</button>
                                    <button style="background-color: red;" class="botonVioleta2"
                                        @click="cancelarEdicionProveedor(proveedor.idProveedor)">Cancelar</button>
                                </template>
                            </td>

                            <td><button style="background-color: red;" class="botonVioleta2"
                                    v-if="!noPuedoBorrarProveedoresConProductos(proveedor.idProveedor)"
                                    @click="borrarProveedor(proveedor.idProveedor)">borrar</button></td>

                        </tr>

                    </tbody>
                </table>
                <p v-else>No hay Proveedores</p>

            </div>
            <div class="altaProveedores" v-if="altaProveedores">
                <h2>Alta de Proveedores</h2>
                <form @submit.prevent="agregarProveedor">
                    <label for="nombreProveedor">Nombre: </label>
                    <input type="text" id="nombreProveedor" v-model="nuevoProveedor.nombreProveedor" required><br>
                    <label for="razonSocial">Razón Social: </label>
                    <input type="razonSocial" id="razonSocial" v-model="nuevoProveedor.razonSocial"><br>
                    <label for="cuit">Cuit: </label>
                    <input type="cuit" id="cuit" v-model="nuevoProveedor.cuit" required><br>
                    <label for="direccion">Dirección: </label>
                    <input type="direccion" id="direccion" v-model="nuevoProveedor.direccion"><br>
                    <label for="telefono">Teléfono: </label>
                    <input type="telefono" id="telefono" v-model="nuevoProveedor.telefono"><br>
                    <label for="contacto">Contacto: </label>
                    <input type="contacto" id="contacto" v-model="nuevoProveedor.contacto"><br>
                    <label for="mail">Dirección de e-mail: </label>
                    <input type="mail" id="mail" v-model="nuevoProveedor.mail"><br>
                    <label for="web">Sitio web: </label>
                    <input type="web" id="web" v-model="nuevoProveedor.web"><br>
                    <label for="tipoProveedor">Seleccione el tipo de proveedor: </label>
                    <select name="tipoProveedor" id="tipoProveedor" v-model="nuevoProveedor.tipoProveedor">
                        <option v-for="tipo in tipoProveedor" :key="tipo" :value="tipo">{{ tipo }}</option>
                    </select><br>
                    <label for="observacion">Observaciones: </label>
                    <input type="observacion" id="observacion" v-model="nuevoProveedor.observacion"><br>
                    <button type="submit">Agregar Proveedor</button>
                </form>
            </div>
            <div class="listaTipoProveedor" v-if="listaTipoProveedor">
                <h2>Listado de Tipo de Proveedores</h2>
                <table v-if="tipoProveedor.length > 0">
                    <thead>
                        <tr>
                            <th>
                                Tipo
                            </th>
                            <th>Borrar

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="tipo in tipoProveedor" :key="tipo">
                            <td>{{ tipo }}</td>
                            <td><button v-if="!noBorrarTipoProveedorRelacionado(tipo)"
                                    @click="borrarTipoProveedor(tipo)">Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
                <p v-else>No hay tipos de proveedores</p>
            </div>
            <div class="altaTipoProveedor" v-if="altaTipoProveedor">
                <h2>Alta tipo de proveedor</h2>
                <form @submit.prevent="agregarTipoProveedor">
                    <label for="tipoProveedor">Ingrese el nuevo tipo de Proveedor: </label>
                    <input type="tipoProveedor" id="tipoProveedor" v-model="nuevoTipoProveedor">
                    <button>Confirmar</button>
                </form>
            </div>
        </div>

        <div class="productos" v-if="verProductos">
            <h2>Productos</h2>
            <button v-bind:class="{ 'fondo': altaProducto }"  @click="mostrarOcultarAltaProducto">{{altaProducto ? 'Cancelar Alta Producto' : 'Alta Producto'}} </button>
            <button v-bind:class="{ 'fondo': listaProducto }"  @click="mostrarOcultarListaProductos">{{listaProducto ? 'Cerrar Menú Productos' : 'Ver Productos'}}
            </button>
            <button v-bind:class="{ 'fondo': relacionProductoProveedor }"  @click="mostrarOcultarRelacionProductoProveedor">
                {{relacionProductoProveedor ? 'cerrar menú relaciones' : 'Alta Relación Producto Proveedor' }}
            </button>


            <div class="relacionProductoProveedor" v-if="relacionProductoProveedor">
                <h2>Alta de relación Producto / Proveedor</h2>
                <form @submit.prevent="crearRelacionProductoProveedor(idProducto, idProveedor)">
                    <label for="prod">Producto:</label>
                    <select id="prod" v-model="idProducto">
                        <option v-for="producto in productos" :key="producto.idProducto" :value="producto.idProducto">
                            {{ producto.descripcion }} </option>
                    </select>
                    <label for="prov">Proveedor:</label>
                    <select id="prov" v-model="idProveedor" required>
                        <option v-for="proveedor in proveedores" :key="proveedor.idProveedor"
                            :value="proveedor.idProveedor">
                            {{ proveedor.nombreProveedor }}
                        </option>
                    </select>
                    <button type="submit">Generar</button>
                </form>
            </div>

            <div class="altaProducto" v-if="altaProducto">
                <h2>Alta de Productos</h2>
                <form @submit.prevent="crearProducto">
                    <div>
                        <label for="descripcion">Descripción:</label>
                        <input type="text" id="descripcion" v-model="nuevoProducto.descripcion" required>
                    </div><br>
                    <div>
                        <label for="observacion">Observación:</label>
                        <input type="text" id="observacion" v-model="nuevoProducto.observacion" required>
                    </div><br>
                    <div>
                        <label for="imagen">Imagen:</label>
                        <input type="text" id="imagen" v-model="nuevoProducto.imagen" required>
                        <div v-if="nuevoProducto.imagen"><img :src="nuevoProducto.imagen" class="imagen-previa"
                                alt="Vista previa de la imagen"></div>
                    </div><br>
                    <div>
                        <label for="activo">Activo:</label>
                        <input type="checkbox" id="activo" v-model="nuevoProducto.activo" checked>
                    </div><br>
                    <div>
                        <label for="reposicion">Valor de Reposición</label>
                        <input type="number" id="reposicion" v-model="nuevoProducto.reposicion" required>
                    </div>
                    <button type="submit">Agregar Producto</button>
                </form>

            </div>

            <div class="productosLista" v-if="listaProducto">
                <h2>Listado de Productos</h2>
                <table v-if="productos.length > 0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Observación</th>
                            <th>Reposición</th>
                            <th>Activo</th>
                            <th>Imagen</th>
                            <th>Editar</th>
                            <th>borrar</th>
                            <th>Proveedores</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="producto in productos" :key="producto.idProducto">
                            <td>{{ producto.idProducto }}</td>
                            <td>
                                <template v-if="!productoModificable[producto.idProducto]">
                                    {{ producto.descripcion }}
                                </template>
                                <template v-else>
                                    <input v-model="producto.descripcion" />
                                </template>
                            </td>
                            <td>
                                <template v-if="!productoModificable[producto.idProducto]">
                                    {{ producto.observacion }}
                                </template>
                                <template v-else>
                                    <input v-model="producto.observacion" />
                                </template>
                            </td>
                            <td>
                                <template v-if="!productoModificable[producto.idProducto]">
                                    {{ producto.reposicion }}
                                </template>
                                <template v-else>
                                    <input type="number" v-model="producto.reposicion" />
                                </template>
                            </td>
                            <td>
                                <template v-if="!productoModificable[producto.idProducto]">
                                    <img class="imagen3x3" :src="producto.activo ? 'img/yes.jpg' : 'img/no.jpg'"
                                        alt="Estado" />
                                </template>
                                <template v-else>
                                    <input type="checkbox" v-model="producto.activo" />
                                </template>
                            </td>
                            <td>
                                <template v-if="!productoModificable[producto.idProducto]">
                                    <img :src="producto.imagen" class="imagen4x4" alt="no disponible" />
                                </template>
                                <template v-else>
                                    <input type="text" v-model="producto.imagen">
                                </template>
                            </td>
                            <td>
                                <template v-if="!productoModificable[producto.idProducto]">
                                    <button style="background-color: blue;" class="botonVioleta2"
                                        @click="iniciarEdicion(producto.idProducto)">Editar</button>
                                </template>
                                <template v-else>
                                    <button style="background-color: green;" class="botonVioleta2"
                                        @click="confirmarEdicion(producto)">Confirmar</button>
                                    <button style="background-color: red;" class="botonVioleta2"
                                        @click="cancelarEdicion(producto.idProducto)">Cancelar</button>
                                </template>
                            </td>
                            <td>
                                <button style="background-color: red;" class="botonVioleta2"
                                    v-if="!noPuedoBorrarProductoConStock(producto.idProducto)"
                                    @click="borrarProducto(producto.idProducto)">borrar</button>
                            </td>
                            <td>
                                <span v-for="idProveedor in obtenerIdProveedores(producto.idProducto)"
                                    :key="idProveedor">
                                    {{ obtenerNombreProveedor(idProveedor) }} <button
                                        @click="borrarRelacionProductoProveedor(producto.idProducto,idProveedor)">borrar</button>
                                    <br>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="stock" v-if="verStock">
            <h2>Stock por fecha</h2>
            <div class="menuStock">
                <button v-bind:class="{ 'fondo': verFiltroStock }"  @click="mostrarOcultarFiltroStock">
                    {{ verFiltroStock ? 'Cerrar Menu Stock por Fecha' : 'Mostrar Stock por Fecha' }}
                </button>
                <button v-bind:class="{ 'fondo': verNuevoStock }"  @click="mostrarOcultarNuevoStock">
                    {{ verNuevoStock ? 'Cancelar Nuevo Stock' : 'Crear Nuevo Stock' }}
                </button>
                <button v-bind:class="{ 'fondo': verBorrarStock }"  @click="mostrarOcultarBorrarStock">
                    {{ verBorrarStock ? 'Cancelar Borrar Stock' : 'Borrar Stock' }}
                </button>
            </div>

            <div class="ListadoStock" v-if="verFiltroStock">
                <div class="filtroFechaStock">
                    <br><label for="filtroFechaStock">Fecha a consultar: </label>
                    <select id="filtroFechaStock" v-model="filtroFechaStock">
                        <option value=""></option>
                        <option value="todos">Todos</option>
                        <option v-for="fecha in fechasStock" :key="fecha" :value="fecha">{{ fecha }}</option>
                    </select>
                </div>
                <table v-if="stocksFiltrados.length > 0">
                    <thead>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Reposición</th>
                        <th>Descripción</th>
                        <th></th>
                        <th>Cantidad</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr v-for="stock in stocksFiltrados" :key="stock.fecha">
                            <td>{{stock.idProducto}}</td>
                            <td>{{obtenerDescripcionProducto(stock.idProducto)}}</td>
                            <td> {{stock.cantidad2}} </td>
                            <td>{{obtenerObservacionProducto(stock.idProducto)}}</td>
                            <td> <button @click="restarStock(stock)" v-if="stock.cantidad > 0.99">-</button></td>
                            <td>{{stock.cantidad}}</td>
                            <td> <button @click="sumarStock(stock)">+</button><button
                                    @click="sumarStock2(stock, 0.10)">+0.10</button>
                                <button @click="sumarStock2(stock, 0.25)">+0.25</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p v-else-if="filtroFechaStock == ''">Elija la fecha a consultar</p>
                <p v-else>No hay stock disponibles.</p>
            </div>
            <div class="nuevoStock" v-if="verNuevoStock">
                <br><label for="fechaNuevoStock">seleccione la fecha: </label>
                <input type="date" id="fechaNuevoStock" v-model="fechaNuevoStock">
                <button @click="crearNuevoStock"> Confirmar</button>

            </div>
            <div class="borrarStock" v-if="verBorrarStock">
                <br><label for="fechaBorrarStock">Fecha a borrar: </label>
                <select id="fechaBorrarStock" v-model="fechaBorrarStock">
                    <option value=""></option>
                    <option v-for="fecha in fechasStock" :key="fecha" :value="fecha">{{ fecha }}</option>
                </select>
                <button @click="borrarStock">Borrar</button>

            </div>
        </div>

        <div class="importes" v-if="verImportes">
            <h2>Importes</h2>
            <div class="botonesImportes">
                <button v-bind:class="{ 'fondo': verCargaImportes }"  @click="mostrarOcularCargaImportes"> {{verCargaImportes ? 'Anular Carga' : 'Carga' }} </button>
                <button v-bind:class="{ 'fondo': verListadoImportes }"  @click="mostrarOcultarListadoImportes"> {{ verListadoImportes ? 'Ocultar Reporte' : 'Reporte' }}
                </button>
                <button v-bind:class="{ 'fondo': verNuevoMotivo }"  @click="mostrarOcultarNuevoMotivo"> {{ verNuevoMotivo ? 'Cancelar Alta' : 'Nuevo Motivo' }}
                </button>
                <button v-bind:class="{ 'fondo': verMotivos }"  @click="mostrarOcultarMotivos"> {{ verMotivos ? 'Ocultar Motivos' : 'Motivos' }} </button>
            </div>
            <div class="cargaImportes" v-if="verCargaImportes">
                <h2>Carga de Importes</h2>
                <label for="filtroMotivo">Motivo:</label>
                <select id="filtroMotivo" v-model="motivoSeleccionado">
                    <option v-for="motivo in motivos" :key="motivo" :value="motivo">{{ motivo }}</option>
                </select>
                <label for="fechaImporte">Fecha:</label>
                <input type="date" id="fechaImporte" v-model="fechaImporte">
                <label for="observacion">Observación</label>
                <input type="text" id="observacion" v-model="observacion">
                <label for="montoImporte">Importe:</label>
                <input style="text-align: right;" type="number" id="montoImporte" v-model="montoImporte"
                    @keyup.enter="guardarImportes">
                <button @click="guardarImportes">Guardar</button>
            </div>
            <div class="resultados" v-if="verListadoImportes">
                <h2>Reporte de Efectivo</h2>
                <div class="reporteEfectivoFilters">
                    <label for="reporteEfectivoFechasFilter">Selecciona la fecha: </label>
                    <select v-model="reporteEfectivoFechasFilter" @change="reporteEfectivoAplicarFiltro"
                        id="reporteEfectivoFechasFilter">
                        <option value=""></option>
                        <option v-for="fecha in fechasOrdenadasRporteEfectivo" :key="fecha" :value="fecha">{{ fecha }}
                        </option>
                    </select><br>
                    <p>Selecciona uno o más motivos:</p>
                    <div v-for="motivo in reporteEfectivoMotivosDisponibles" :key="motivo">
                        <input type="checkbox" :value="motivo" v-model="reporteEfectivoMotivosFilter"
                            @change="reporteEfectivoAplicarFiltro" :id="`reporteEfectivoMotivo-${motivo}`">
                        <label :for="`reporteEfectivoMotivo-${motivo}`">{{ motivo }}</label>
                    </div>
                </div>
                <div class="reporteEfectivoReport" v-if="reporteEfectivoRegistrosFiltrados.length > 0">
                    <p>Registros encontrados: {{ reporteEfectivoTotalRegistros }}</p>
                    <p>Suma de importe: {{ formatoMoneda(reporteEfectivoSumaImporte) }}</p>
                </div>
                <table v-if="reporteEfectivoRegistrosFiltrados.length > 0">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Motivo</th>
                            <th>Observación</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="registro in reporteEfectivoRegistrosFiltrados" :key="registro.id">
                            <td style="text-align: center;">{{ registro.fecha }}</td>
                            <td>{{ registro.motivo }}</td>
                            <td>{{registro.observacion}}</td>
                            <td style="text-align: right;">{{ registro.importe}}</td>
                        </tr>
                    </tbody>
                </table>
                <p v-else>No hay registros que cumplan con los filtros seleccionados.</p>


            </div>
            <div class="altaMotivo" v-if="verNuevoMotivo">
                <h2>Alta de Nuevo Motivo de Importes</h2>
                <label for="nuevoMotivo">Nuevo Motivo</label>
                <input type="text" id="nuevoMotivo" v-model="nuevoMotivo">
                <button @click="nuevoMotivoEfectivo">Confirmar</button>
            </div>
            <div class="motivos" v-if="verMotivos">
                <h2>Listado de Motivos de Importes</h2>
                <table v-if="motivos.length !== 0">
                    <thead>
                        <th> Lista de Motivos</th>
                        <th>Borrar</th>
                    </thead>
                    <tbody>
                        <tr v-for="motivo in motivos" :key="motivo">
                            <td>{{motivo}}</td>
                            <td>
                                <button v-if="!noBorrarMotivoEfectivoRelacionado(motivo)"
                                    @click="borrarMotivo(motivo)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/main.js"></script>

</body>

</html>