<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Las Violetas - Compras</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/procesoDeCompras.css">
    <link rel="icon" type="image/png" href="./img/logo.png">
</head>

<body>
    <div id="app" class="container vh-100 d-flex flex-column">

        <div class="encabezado bg-dark">
            <nav class="navbar navbar-expand-lg navbar-dark">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuEncabezado" aria-controls="menuEncabezado" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menuEncabezado">
                  <div class="navbar-nav">
                    <button type="button" class="btn btn-primary me-2" @click="nuevaCompra = !nuevaCompra">{{ nuevaCompra  ? 'Cancelar Alta' : 'Nueva Compra' }}</button>
                    <button type="button" class="btn btn-primary me-2" @click="elegirCompra = !elegirCompra, resetearCompra()">{{ elegirCompra  ? 'Cerrar Combo' : 'Ver Combo Compras' }}</button>
                    <button v-if="compraSeleccionada" type="button" class="btn btn-warning me-2" @click="edicionCompra = !edicionCompra">{{edicionCompra ? 'Cancelar Edición':'Editar'}} </button>
                    <button v-if="compraSeleccionada" type="button" class="btn btn-danger me-2" @click="borrarCompra = !borrarCompra">{{borrarCompra ? 'Cancelar Borrado' : 'Borrar Compra'}}</button>
                    <button type="button" class="btn btn-success" @click.prevent="salir">Salir</button>
                </div>
            </div>
            <img class="logo d-none d-sm-block" src="./img/logo2.png" alt="Las Violetas" style="float: right; max-width: 100px; height: auto;">
              </div>
            </nav>
          </div>

          <div class="cuerpo h-100 d-flex flex-column justify-content">
            <!-- <h1>Compras</h1> -->

            <div class="nuevaCompra" v-if="nuevaCompra"> <!-- Nueva compra -->
                <h3>Nueva Compra</h3>
                <div class="FormAltaCompra" v-if="nuevaFacturaCompra">
                    <form @submit.prevent="confirmarAltaCompra">  <!-- Alta Factura -->
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="proveedor" class="form-label">Proveedor</label>
                                <select v-model="compra.idProveedor" class="form-select" id="proveedor" required>
                                    <option v-for="proveedor in proveedores.sort((a, b) => a.nombreProveedor.localeCompare(b.nombreProveedor))" :value="proveedor.idProveedor"> {{ proveedor.nombreProveedor }}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="fechaCompra" class="form-label">Fecha de Compra</label>
                                <input type="date" v-model="compra.fechaCompra" class="form-control" id="fechaCompra">
                            </div>
                            <div class="col-md-6">
                                <label for="numFactura" class="form-label">Número de Factura</label>
                                <input type="number" v-model.number="compra.numFactura" class="form-control" id="numFactura" placeholder="Ingrese Factura/Remito" min="0">
                            </div>
                            <div class="col-md-6">
                                <label for="iva" class="form-label">IVA</label>
                                <select v-model="compra.iva" class="form-select" id="iva">
                                    <option :value="1">Sí</option>
                                    <option :value="0">No</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="descuento" class="form-label">Descuento</label>
                                <input type="range" v-model="compra.descuento" class="form-range" id="descuento" min="0" max="1"
                                    step="0.01">
                                <span>{{ (compra.descuento * 100).toFixed(2) }}%</span>
                            </div>
                            <div class="d-flex justify-content-start">
                                <button class="btn btn-secondary me-2" @click.prevent="cancelarAltaCompra">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ultimaCompra" v-if="!nuevaFacturaCompra"> <!-- Factura Cargada -->
                    <table class="table table-bordered table-hover w-100">
                        <thead class="thead-light">
                            <tr>
                                <th>Id Compra</th>
                                <th>Id Proveedor</th>
                                <th>Nombre Proveedor</th>
                                <th>Fecha Compra</th>
                                <th>Factura</th>
                                <th>IVA</th>
                                <th>Descuento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ultimaCompra.idCompra}}</td>
                                <td>{{ultimaCompra.idProveedor}}</td>
                                <td>{{ultimaCompra.nombreProveedor}}</td>
                                <td>{{ultimaCompra.fechaCompra}}</td>
                                <td>{{ultimaCompra.numFactura}}</td>
                                <td>{{ultimaCompra.iva}}</td>
                                <td>{{ultimaCompra.descuento}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

                <div class="formAltadetalleCompra" v-if="nuevoDetalleCompra"> <!-- Alta de Detalle Factura -->
                    <form @submit.prevent="agregarArticulo">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3 mb-3">                               
                                <label for="idProducto" class="form-label">Producto</label>
                                <select v-model="nuevoDetalle.idProducto" class="form-control" id="idProducto" required>
                                    <option v-for="producto in productosDelProveedor" :key="producto.idProdXProv" :value="producto.idProdXProv"> {{producto.idProdXProv}}-{{ producto.descripcion }}</option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="unidades" class="form-label">Unidades</label>
                                <input type="number" v-model.number="nuevoDetalle.unidades" class="form-control" id="unidades"
                                    required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cantidad" class="form-label">Cantidad</label>
                                <input type="number" v-model.number="nuevoDetalle.cantidad" class="form-control" id="cantidad" step="any" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="precioUnitario" class="form-label">Precio Unitario</label>
                                <input type="number" step="0.01" v-model.number="nuevoDetalle.precioUnitario" class="form-control"
                                    id="precioUnitario" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary" @click="finalizarCompra">Finalizar</button>
                        </div>
                    </form>
                </div>

                <div class="detalleCompraEnProceso table table-bordered mt-3" v-if="detalleCompra.length"> <!-- Detalle Compra en proceso -->
                    <table class="table table-bordered mt-3" v-if="detalleCompra.length">
                        <thead>
                            <tr>
                                <th>ID Detalle</th>
                                <th>ID Compra</th>
                                <th>ID Proveedor</th>
                                <th>ID Producto</th>
                                <th>Nombre del Producto</th>
                                <th>Unidades</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Precio Final</th>
                                <th>Importe</th>
                                <th>Importe Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(detalle, index) in detalleCompra" :key="index">
                                <td class="text-end">{{ detalle.idDetalle }}</td>
                                <td class="text-end">{{ detalle.idCompra }}</td>
                                <td class="text-end">{{ detalle.idProveedor }}</td>
                                <td class="text-end">{{ detalle.idProducto }}</td>
                                <td>{{ detalle.nombreProducto }}</td>
                                <td class="text-end">{{ detalle.unidades }}</td>
                                <td class="text-end">{{ detalle.cantidad }}</td>
                                <td class="text-end">{{ formatearNumero(detalle.precioUnitario) }}</td>
                                <td class="text-end">{{ formatearNumero(detalle.precioFinal) }}</td>
                                <td class="text-end">{{ formatearNumero(detalle.importe) }}</td>
                                <td class="text-end">{{ formatearNumero(detalle.importeFinal) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                
                

            </div>

            <div class="elegirCompra"v-if="elegirCompra"> <!-- elección de compra -->
                <h3>Listado de Compras</h3>
                <div class="seleccionDeCompra" v-if="!compraSeleccionada"> <!-- Combo seleccion de compra -->
                    <p>Seleccione:</p>
                    <select v-model="compraSeleccionada" @change="cargarDetalleCompraSeleccionada" class="form-select">
                        <option v-for="compra in compras.sort((a, b) => b.idCompra - a.idCompra)" :key="compra.idCompra" :value="compra.idCompra">
                            {{compra.idCompra}} - {{compra.fechaCompra}} - {{compra.numFactura}} - {{compra.proveedorNombre}}</option>
                    </select>
                </div>
                <div class="compraSeleccionada"v-if="compraSeleccionada" >  <!-- Cuando elijo una compra -->
                    <button @click="resetearCompra()" type="button" class="btn btn-dark">Reset</button>
                    <button type="button" class="btn btn-success" @click="agregarDetalleCompra = !agregarDetalleCompra, traerProductosDelProveedor(detalleFactura.idProveedor)">{{agregarDetalleCompra ? 'Cancelar Alta':'Agregar'}} </button>
                    <button v-if="detallecompraSeleccionada.length" type="button" class="btn btn-danger" @click="borrarDetalleCompra = !borrarDetalleCompra">{{borrarDetalleCompra ? 'Cancelar Borrar':'Borrar'}} </button>
                    
                    <div class="table-responsive">
                        <table class="table table-bordered"> <!-- compra -->
                            <thead class="table-light">
                                <tr>
                                    <th>Id</th>
                                    <th v-if="!edicionCompra">Proveedor</th>
                                    <th v-else>{{ detallecompraSeleccionada.length > 0 ? 'Proveedor' : 'Proveedor' }}</th>
                                    <th v-if="!edicionCompra">Factura</th>
                                    <th v-if="edicionCompra">Factura</th>
                                    <th v-if="!edicionCompra">Fecha</th>
                                    <th v-if="edicionCompra">Fecha</th>
                                    <th v-if="!edicionCompra">IVA</th>
                                    <th v-else>{{ detallecompraSeleccionada.length > 0 ? 'IVA' : 'IVA' }}</th>
                                    <th v-if="!edicionCompra">Descuento</th>
                                    <th v-else>{{ detallecompraSeleccionada.length > 0 ? 'Descuento' : 'Descuento' }}</th>
                                    <th>Productos</th>
                                    <th>Total</th>
                                    <th v-if="borrarCompra">Borrar</th>
                                    <th v-if="edicionCompra">Edición</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-end">{{ detalleFactura.idCompra }}</td>

                                    <td v-if="!edicionCompra" >{{ detalleFactura.proveedorNombre }}</td>
                                    <td v-if="edicionCompra && detallecompraSeleccionada.length">{{ detalleFactura.proveedorNombre }}</td>
                                    <td v-if="edicionCompra && !detallecompraSeleccionada.length"><select v-model="edicionFactura.idProveedor" class="form-select" id="proveedor"><option v-for="proveedor in proveedores.sort((a, b) => a.nombreProveedor.localeCompare(b.nombreProveedor))" :value="proveedor.idProveedor"> {{ proveedor.nombreProveedor }}</option></select></td>
                                    
                                    <td v-if="!edicionCompra" class="text-end">{{ detalleFactura.numFactura }}</td>
                                    <td v-if="edicionCompra" class="text-end"> <input class="form-control" type="number" v-model="edicionFactura.numFactura" :placeholder="detalleFactura.numFactura"></td>

                                    <td v-if="!edicionCompra" class="text-center">{{ detalleFactura.fechaCompra }}</td>
                                    <td v-if="edicionCompra" class="text-center"> <input class="form-control" type="date" v-model="edicionFactura.fechaCompra"></td>

                                    <td v-if="!edicionCompra" class="text-center">{{ detalleFactura.iva ? 'Sí' : 'No' }}</td>
                                    <td v-if="edicionCompra && detallecompraSeleccionada.length" >{{ detalleFactura.iva ? 'Sí' : 'No' }}</td>
                                    <td v-if="edicionCompra && !detallecompraSeleccionada.length"><select v-model="edicionFactura.iva" class="form-select" id="iva"><option :value="1">Sí</option><option :value="0">No</option></select></td>

                                    <td v-if="!edicionCompra" class="text-end">{{ detalleFactura.descuento }}</td>
                                    <td v-if="edicionCompra && detallecompraSeleccionada.length" class="text-end">{{ detalleFactura.descuento }}</td>
                                    <td v-if="edicionCompra && !detallecompraSeleccionada.length" class="text-end"><input class="form-control" type="number" v-model="edicionFactura.descuento" :placeholder="detalleFactura.descuento" min="0" max="1" step="0.01"></td>




                                    <td class="text-end">{{ detallecompraSeleccionada.length ? detallecompraSeleccionada.length : 0 }}</td>
                                    <td class="text-end">{{ formatearNumero(sumaFactura) }}</td>
                                    <!-- Botones -->
                                    <td class="text-center" v-if="borrarCompra"><button @click.prevent="funcionborrarCompra" class="btn btn-danger" >B</button></td>
                                    <td class="text-center" v-if="edicionCompra"><button @click.prevent="funcionEditarCompra" class="btn btn-warning">E</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div v-if="agregarDetalleCompra" class="formAgregarDetalleCompra"> <!-- Agregar detalle de compra desde el listado-->
                            <form @submit.prevent="agregarArticuloDespues(detalleFactura.idCompra,detalleFactura.idProveedor,detalleFactura.iva,detalleFactura.descuento)">
                                <div class="d-flex flex-wrap">
                                    <div class="col-md-3 mb-3">                               
                                        <label for="idProducto" class="form-label">Producto</label>
                                        <select v-model="nuevoDetallePosterior.idProducto" class="form-control" id="idProducto" required>
                                            <option v-for="producto in productosDelProveedor" :key="producto.idProdXProv" :value="producto.idProdXProv"> {{producto.idProdXProv}}-{{ producto.descripcion }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="unidades" class="form-label">Unidades</label>
                                        <input type="number" v-model.number="nuevoDetallePosterior.unidades" class="form-control" id="unidades"
                                            required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="cantidad" class="form-label">Cantidad</label>
                                        <input type="number" v-model.number="nuevoDetallePosterior.cantidad" class="form-control" id="cantidad" step="any" required>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="precioUnitario" class="form-label">Precio Unitario</label>
                                        <input type="number" step="0.01" v-model.number="nuevoDetallePosterior.precioUnitario" class="form-control"
                                            id="precioUnitario" required>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-3">
                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                    <button type="button" class="btn btn-secondary" @click="agregarDetalleCompra = false">Finalizar</button>
                                </div>
                            </form>


                        </div>

                        <table v-if="detallecompraSeleccionada && detallecompraSeleccionada.length" class="table table-bordered"> <!-- detalle -->
                            <thead class="table-light">
                                <tr>
                                    <th>Producto</th>
                                    <th>Unidades</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Final</th>
                                    <th>Importe</th>
                                    <th>Total</th>
                                    <th>Peso</th>
                                    <th>Balanza</th>
                                    <th>Sugerido</th>
                                    <th v-if="borrarDetalleCompra">Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="detalle in detallecompraSeleccionada" :key="detalle.idDetalle">
                                    <td>{{ detalle.producto.descripcion }}</td>
                                    <td class="text-end">{{ detalle.unidades }}</td>
                                    <td class="text-end">{{ detalle.cantidad }}</td>
                                    <td class="text-end">{{ formatearNumero(detalle.precioUnitario) }}</td>
                                    <td class="text-end">{{ formatearNumero(detalle.precioFinal) }}</td>
                                    <td class="text-end">{{ formatearNumero(detalle.importe) }}</td>
                                    <td class="text-end">{{ formatearNumero(detalle.importeFinal) }}</td>
                                    <td class="text-end">{{ formatearNumero(detalle.pesoPromedioNuevo) }}</td>
                                    <td :class="{'bg-danger': detalle.precioBalanzaActual < detalle.precioBalanzaSugerido}" class="text-end">{{ formatearNumero(detalle.precioBalanzaActual) }}</td>
                                    <td class="text-end">{{ formatearNumero(detalle.precioBalanzaSugerido) }}</td>
                                    <td class="text-center" v-if="borrarDetalleCompra"><button @click.prevent="funcionborrarDetalleCompra(detalle.idDetalle)" class="btn btn-danger" >B</button></td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    
                    

                </div>

            </div>

        </div>

        <div class="pie">
       </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/procesoDeCompras.js"></script>
</body>

</html>